.about
    width: 70%

    &__buttonItems
        padding: 20px 0
        display: flex
        gap: 20px

    &__btnEmail
        background-color: black
        color: white

    &__btnDownload
        background-color: white
        color: black
        cursor: not-allowed

    @media screen and (max-width: 550px)
        width: 90%
        &__buttonItems
            flex-direction: column
            align-items: start
